:root {
  font-family: "Poppins", sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: #181818;
}

li {
  list-style: none;
}
ul {
  padding-left: 0;
}
button {
  border: none;
}
